.features {
  background-color: $lightGrayishBlue;
  padding-top: 6rem;
  padding-bottom: 6rem;

  &__content {
    @include breakpoint-down("small") {
      text-align: center;
    }
  }

  &__intro {
    margin-bottom: 7.2rem;
    @include breakpoint-up("large") {
      width: 60%;
    }
  }

  &__grid {
    @include breakpoint-up("medium") {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    // border: 1px solid pink;
    // padding: 1.5rem;

    &:nth-child(2n + 1) {
      @include breakpoint-up("medium") {
        margin-right: 3rem;
      }
      @include breakpoint-up("large") {
        margin-right: 0;
      }
    }
    &:nth-child(1) {
      @include breakpoint-up("medium") {
        margin-bottom: 3rem;
      }
      @include breakpoint-up("large") {
        margin-bottom: 0;
      }
    }
    &:nth-child(2) {
      @include breakpoint-up("medium") {
        margin-bottom: 3rem;
      }
      @include breakpoint-up("large") {
        margin-bottom: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
      @include breakpoint-up("large") {
        margin-right: 3rem;
        margin-bottom: 0;
      }
    }

    @include breakpoint-up("medium") {
      flex: 0 0 calc(50% - 1.6rem);
    }

    @include breakpoint-up("large") {
      flex: 1;
    }
  }

  &__icon {
    margin-bottom: 2.6rem;
    @include breakpoint-up("large") {
      margin-bottom: 4rem;
    }
  }

  &__title {
    font-size: 2rem;
    color: $darkBlue;
    letter-spacing: -0.1rem;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: 2.4rem;

    @include breakpoint-up("large") {
      font-size: 2.4rem;
      margin-bottom: 3.2rem;
    }
  }

  &__description {
    font-size: 1.54rem;
    font-weight: 400;
  }
}
