.hero {
  background-color: $veryLightGray;
  // position: relative;
  overflow-x: hidden;

  .wrapper {
    @include breakpoint-up("medium") {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // position: relative;
    min-height: 28rem;

    @include breakpoint-up("medium") {
      min-height: 65.6rem;
      flex: 3;
      order: 2;
      background-image: none;
      // background-image: url("/images/bg-intro-desktop.svg");
      // background-position: left -163px;
    }

    &::before {
      content: "";
      background-image: url("/images/bg-intro-desktop.svg");
      background-repeat: no-repeat;
      background-position: -11% 157%;
      background-size: 82%;
      position: absolute;
      height: 100%;
      width: 100%;

      @include breakpoint-down("small") {
        background-image: none;
      }
    }

    &::after {
      content: "";
      background-image: url(/images/image-mockups.png);
      background-size: 91%;
      background-repeat: no-repeat;
      background-position: center -122px;
      position: absolute;
      height: 100%;
      width: 100%;

      @include breakpoint-up("medium") {
        background-size: 52%;
        background-position: 22.8% 114%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up("medium") {
      flex: 2.2;
      order: 1;
      text-align: left;
    }

    h1 {
      font-weight: 300;
      font-size: $font-lg;
      color: $darkBlue;
      line-height: 1.15;
      margin-bottom: 0.6486em;

      @include breakpoint-up("medium") {
        font-size: $font-xl;
      }
    }

    p {
      font-size: $font-sm;
      line-height: 1.5;
      margin-bottom: 3.6rem;

      @include breakpoint-up("medium") {
        font-size: $font-md;
      }
    }
  }
}
