.hero {
  background-color: $veryLightGray;

  .wrapper {
    @include breakpoint-up("large") {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    min-height: 29rem;

    @include breakpoint-up("medium") {
      min-height: 40rem;
      background-position: center 70%;
    }

    @include breakpoint-up("large") {
      height: 65.6rem;
      flex: 3;
      order: 2;
      background-image: none;
      // background-image: url("/images/bg-intro-desktop.svg");
      // background-position: left -163px;
    }

    &::before {
      @include breakpoint-up("large") {
        content: "";
        background-image: url("/images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        // background-position: center bottom;
        background-size: 129%;
        position: absolute;
        height: 100%;
        width: 150%;
        background-position: 7% 72%;
      }
    }

    &::after {
      content: "";
      background-image: url(/images/image-mockups.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center -123px;
      position: absolute;
      height: 100%;
      width: 100%;

      @include breakpoint-up("medium") {
        background-size: 52%;
      }

      @include breakpoint-up("large") {
        width: 120%;
        height: 122%;
        background-size: 100%;
        background-position: center 89%;
        left: 26.3%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up("large") {
      flex: 2.2;
      order: 1;
      text-align: left;
    }
  }
}
